#layout, #footer, #splitBar, #splitBarProxy, #alertBackground, #dialogBackground, #background, 
.comboxop, .panelBar, .dialog, .shadow{ display:none;}
#printBox{display:block;}


.thistable { 
width: 95%; 
padding: 0; 
margin: 30px; 
} 


.thistable th { 
color: #4f6b72; 
border: 1px solid #C1DAD7; 
padding: 6px 6px 6px 12px; 
background: #CAE8EA  no-repeat; 
} 

.thistable td { 
border: 1px solid #C1DAD7; 
background: #fff; 
font-size:12px; 
padding: 6px 6px 6px 12px; 
color: #4f6b72; 
} 

