

<div class="pageContent">
		<div id="iaas" style="height:1000px;">
		<ul style="margin:10px"><li style="margin:10px">
		<p class="dashboard_p">Available clouds: </p>
		</li>
		<div class="divider"></div>
		<li style="margin:10px">
		<p class="dashboard_p">Available domains: </p>
		</li>
		<div class="divider"></div>
		<li style="margin:10px">
		<p class="dashboard_p">Available accounts: </p>
		</li>
		<div class="divider"></div>
		<li style="margin:10px">
		<p class="dashboard_p">Running instances: </p>
		</li>
		<div class="divider"></div>
		</ul>
		</div>
</div>
