<div class="page">
	<div class="pageContent">
		<form method="post" action="@{Students.create}" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone);">
			<div class="pageFormContent" layoutH="56" layoutW="56">
			<fieldset>
				<legend>学员信息</legend>
				<dl>
					<dt>姓名：</dt>
					<dd><input name="studentname" class="required" type="text" size="10"/></dd>
				</dl>
				<dl>
					<dt>生日：</dt>
					<dd>
						<input name="studentbirthday" class="required date" type="text" readonly="true"/>
						<a class="inputDateButton" href="javascript:;">选择</a>
						<span class="info">yyyy-MM-dd</span>
					</dd>
				</dl>
				<dl>
					<dt>电话：</dt>
					<dd>
						<input name="studenttel" class="required" type="text" size=""/>
					</dd>
				</dl>
				<dl>
					<dt>Email：</dt>
					<dd>
						<input name="studentemail" class="" type="text" size=""/>
					</dd>
				</dl>
				<dl>
					<dt>地址：</dt>
					<dd>
						<input name="address" class="" type="text" size=""/>
					</dd>
				</dl>
				<dl>
					<dt>年级：</dt>
					<dd>
						<input name="grade" class="" type="text" size=""/>
					</dd>
				</dl>
				<dl>
					<dt>照片：</dt>
					<dd>
						<input name="picture" class="" type="file" size=""/>
					</dd>
				</dl>
				<dl>
					<dt>备注：</dt>
					<dd>
						<textarea name="description" />
					</dd>
				</dl>
				<dl></dl>
			</fieldset>
			</div>
			<div class="formBar">
				<ul>
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">Save</button></div></div></li>
					<li>
						<div class="button"><div class="buttonContent"><button type="Button" class="close">Cancel</button></div></div>
					</li>
				</ul>
			</div>
		</form>
	</div>
</div>