<h2 class="contentTitle">${student.name}</h2>

	
<div class="pageContent sortDrag" selector="h1" layoutH="60">
	<div class="panel" defh="215">
	<h1>详细信息</h1>
		<div>
			<table class="thistable" style="width: 100%;margin-top: 10px;">
				<tbody>
					<tr>
						<td rowspan="3" style="width: 300px;"><img height="200" src="@{'public/images/'}${student.imgDetail?.basicImg}"/></td>
						<th>
							姓名
						</th>
						<td style="border-top: 1px solid #C1DAD7; ">
							${student.name?:''}
						</td>
						<th>
							性别
						</th>
						<td style="border-top: 1px solid #C1DAD7; ">
							${student.sex?:''}
						</td>
					</tr>
					<tr>
						<th>
							age
						</th>
						<td>
							${student.age?:''}
						</td>
						<th>
							生日
						</th>
						<td>
							${student.birthday?:''}
						</td>
					</tr>
					<tr>
						<th>
							备注
						</th>
						<td rowspan="3" colspan="3" style="font-size: 13px; ">
							${student.description?:''}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="panel collapse" minH="100" defH="150">
		<h1>报名课程</h1>
		<div>
			<table class="thistable" style="width: 100%">
				<tbody>
					<tr>
						<th>
							课程名称
						</th>
						<th>
							教师
						</th>
						<th>
							类别
						</th>
						<th>
							时间
						</th>
						<th>
							状态
						</th>
					</tr>
					#{list items:orders, as:'order'}
					<tr>
						<td >
							<a href="@{lessons.detail(order.lesson.id)}" target="navTab" rel="lessonDetail${order.lesson.id}" title="${order.lesson.name}">${order.lesson.name}</a>
						</td>
						<td >
							${order.teacher.name}
						</td>
						<td >
							${order.lesson.lessonType}
						</td>
						<td >
							${order.lesson.startTime.format('yyyy-MM-dd')} ~ ${order.lesson.endTime.format('yyyy-MM-dd')}
						</td>
						<td >
							${order.lesson.status}
						</td>
					</tr>
					#{/list} 
				</tbody>
			</table>
		</div>
	</div>
</div>