<div class="page">
	<div class="pageContent">
		<form method="post" action="@{Users.save(object.id)}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		 <input type="hidden" name="_saveAndAddAnother">
			<div class="pageFormContent" layoutH="56" layoutW="56">
				<p>
					<label>用户名：</label>
					<label> ${object.name}</label>
				</p>
				<p>
					<label>密码：</label>
					<label> ${object.password}</label>
				</p>
				<p>
					<label>邮箱：</label>
					<label> ${object.email}</label>
				</p>
				<p>
					<label>角色：</label>
					<label> ${object.role.name}</label>
				</p>
				<p>
					<label>管理员：</label>
					<input type="checkbox" name="isSuper" #{if object.isSuper}checked #{/if} disabled="disabled">
				</p>
			</div>
			<div class="formBar">
				<ul>
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">Save</button></div></div></li>
					<li>
						<div class="button"><div class="buttonContent"><button type="Button" class="close">Cancel</button></div></div>
					</li>
				</ul>
			</div>
		</form>
	</div>
</div>