<script type="text/javascript">
    $(function(){
    	DrapDropBar('Orderlist');
     });
     
</script>
<form id="pagerForm" action="@{Orders.list}" method="post">
	<input type="hidden" value="${pageNum}" name="pageNum"> 
	<input type="hidden" value="${numPerPage}" name="numPerPage"> 
	<input type="hidden" value="${orderField}" name="orderField">
	<input type="hidden" value="${orderDirection}" name="orderDirection">
</form>
<div class="pageHeader">
	<form rel="pagerForm" onSubmit="return navTabSearch(this);"
		action="@{Orders.list}" method="post">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>唯一码:</label> 
					<input type="text" name="identifyNo" value="${params.identifyNo}"/>
				</li>
				<li>
					<label>订单名:</label> 
					<input type="text" name="orderName" value="${params.orderName}"/>
				</li>
				<li>
					<label>状态:</label>
					<select class="combox"  name="state">
						<option value="">--请选择--</option>
						<option value="Active" #{if params.state=="Active"}selected#{/if}>正常</option>
						<option value="Delete" #{if params.state=="Delete"}selected#{/if}>退费</option>
					</select>
				</li>
			</ul>
			<ul class="searchContent">
				<li>
					<label>课程:</label> 
					<input type="text" name="lessonname" value="${params.lessonname}"/>
				</li>
				<li>
					<label>学生:</label>
					<input type="text" name="studentname" value="${params.studentname}"/>
				</li>
				<li>
					<label>学生电话:</label>
					<input type="text" name="studenttel" value="${params.studenttel}"/>
				</li>
			</ul>
			<ul class="searchContent">
				<li>
					<label>创建日期:</label> 
					<input name="createDate" class="date" type="text" readonly="true" value="${params.createDate}"/>
					<a class="inputDateButton" href="javascript:;">选择</a>
					<span class="info">yyyy-MM-dd</span>
				</li>
				<li>
					<label>修改日期:</label>
					<input name="modifyDate" class="date" type="text" readonly="true" value="${params.modifyDate}"/>
					<a class="inputDateButton" href="javascript:;">选择</a>
					<span class="info">yyyy-MM-dd</span>
				</li>
				<li>
					<label>金额:</label>
					<input type="text" name="money" value="${params.money}"/>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">Search</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li>
				<a class="add" id="ad" href="@{Orders.blank}" target="dialog" height="450" title="添加订单">
					<span>添加订单</span> 
				</a>
			</li>
			<li>
				<a class="edit" href="@{Orders.edit("\u007Bsid_user\u007D",'list')}" target="dialog" height="580" width="650" title="添加订单">
					<span>修改订单</span> 
				</a>
			</li>
			<li>
				<a class="delete" href="@{Orders.deletes}" target="selectedTodo" postType="string" rel="ids"
				title="确定要删除订单吗?">
				<span>删除订单</span>
			</a></li>
		</ul>
	</div>
	<div id="OrderlistTableDiv">
		<table id="OrderlistTable" class="table" width="100%" layouth="188">
			<thead>
				<tr>
					<th width="30"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
					<th width="60" orderField="id" #{if orderField=="id"}class="${orderDirection}"#{/if}>订单编号</th>
					<th width="240">唯一码</th>
					<th width="150">课程</th>
					<th width="150">学员</th>
					<th width="150">老师</th>
					<th width="150" orderField="createdAt" #{if orderField=="createdAt"}class="${orderDirection}"#{/if}>创建日期</th>
					<th width="150" orderField="modifyAt" #{if orderField=="modifyAt"}class="${orderDirection}"#{/if}>修改日期</th>
					<th width="60" orderField="money" #{if orderField=="money"}class="${orderDirection}"#{/if}>金额</th>
					<th width="150">状态</th>
					<th width="100"></th>
				</tr>
			</thead>
			<tbody>
				 #{list items:orders, as:'Order'}
				<tr target="sid_user"
					rel="${Order.id}">
					<td><input name="ids" value="${Order.id}" type="checkbox">
					</td>
					<td>${Order.id}</td>
					<td>${Order.identifyNo}</td>
					<td>${Order.lesson.name?:''}</td>
					<td>${Order.student.name?:''}</td>
					<td>${Order.teacher.name?:''}</td>
					<td>${Order.createdAt.format('yyyy-MM-dd')?:''}</td>
					<td>${Order.modifyAt?.format('yyyy-MM-dd hh:mm:ss')?:''}</td>
					<td>${Order.money?:''}</td>
					#{if Order.state == "Active"}
					<td>正常</td>
					#{/if}
					#{elseif Order.state=="Delete"}
					<td>退费</td>
					#{/elseif}
					<td><a class="btn-mini btn btn-block btn-success" href="@{Orders.detail(Order.id)}" target="navTab" rel="orderDetail${Order.id}" title="订单${Order.id}">详细 >>></a></td>
				</tr>
				#{/list} 
			</tbody>
		</table>
		<div class="panelBar">
			<div class="pages">
				<span>List</span> 
				<select name="numPerPage" onchange="navTabPageBreak({'numPerPage':this.value})">
					<option value="20" #{if numPerPage==20}selected#{/if}>20</option>
					<option value="50" #{if numPerPage==50}selected#{/if}>50</option>
					<option value="100" #{if numPerPage==100}selected#{/if}>100</option>
					<option value="200" #{if numPerPage==200}selected#{/if}>200</option>
				</select> 
				<span>Total:${totalCount}</span>
			</div>

			<div currentpage="${pageNum}" pagenumshown="10"
				numperpage="${numPerPage}" totalcount="${totalCount}"
				targettype="navTab" class="pagination" />
		</div>
	</div>
	<!-- <div class="divider" id="OrderlistBar" style="cursor:row-resize;"></div>		
	<div class="tabs">
		<div class="tabsHeader">
			<div class="tabsHeaderContent">
				<ul>
					<li><a href="javascript:details(-1);"><span>Details</span> </a></li>
				</ul>
			</div>
		</div>
		<div class="tabsContent" style="height: 260px" id="OrderlistTabsDiv">
			<div id="containerDetails">
			</div>
		</div>
		<div class="tabsFooter">
			<div class="tabsFooterContent"></div>
		</div>
	</div> -->
</div>