<script type="text/javascript">
     $(function(){
    	 var chart;
    	 var columnchart;
    	 var source;
    	 var lineseries;
    	 var months;
    	    $(document).ready(function() {
    	    	source = eval($("#hiddenSticSource").val());
    	    	months = new Array();
    	    	for(var i=0;i<source[0].data.length;i++){
    	    		months.push(source[0].data[i].year);
    	    	}
    	    	lineseries = new Array();
    	    	for(var i=0;i<source.length;i++){
    	    		var inerdata = new Object();
    	    		inerdata.name = source[i].dept;
    	    		var inerlist = new Array();
    	    		for(var j=0;j<source[i].data.length;j++){
    	    			inerlist.push(source[i].data[j].con);
    	    		}
    	    		inerdata.data = inerlist;
    	    		lineseries.push(inerdata);
    	    	}
    	    	chart = new Highcharts.Chart({
    	            chart: {
    	                renderTo: 'lineChartDiv',
    	                type: 'line'
    	            },
    	            title: {
    	                text: '按月统计'
    	            },
    	            subtitle: {
    	                text: '按部门统计'
    	            },
    	            xAxis: {
    	                categories: months
    	            },
    	            yAxis: {
    	                title: {
    	                    text: '报名人数（人）'
    	                }
    	            },
    	            tooltip: {
    	                enabled: true,
    	                formatter: function() {
    	                    return '<b>'+ this.series.name +'</b><br/>'+
    	                        this.x +': '+ this.y +'人';
    	                }
    	            },
    	            plotOptions: {
    	                line: {
    	                    dataLabels: {
    	                        enabled: true
    	                    },
    	                    enableMouseTracking: false
    	                }
    	            },
    	            series: lineseries
    	        });
    	    	 columnchart = new Highcharts.Chart({
    	             chart: {
    	                 renderTo: 'lineChartDiv1',
    	                 type: 'column'
    	             },
    	             title: {
    	                 text: '按月统计'
    	             },
    	             xAxis: {
    	                 categories: months
    	             },
    	             yAxis: {
    	                 min: 0,
    	                 title: {
    	                     text: '报名人数（人）'
    	                 },
    	                 stackLabels: {
    	                     enabled: true,
    	                     style: {
    	                         fontWeight: 'bold',
    	                         color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
    	                     }
    	                 }
    	             },
    	             legend: {
    	                 align: 'right',
    	                 x: -100,
    	                 verticalAlign: 'top',
    	                 y: 20,
    	                 floating: true,
    	                 backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
    	                 borderColor: '#CCC',
    	                 borderWidth: 1,
    	                 shadow: false
    	             },
    	             tooltip: {
    	                 formatter: function() {
    	                     return '<b>'+ this.x +'</b><br/>'+
    	                         this.series.name +': '+ this.y +'<br/>'+
    	                         'Total: '+ this.point.stackTotal;
    	                 }
    	             },
    	             plotOptions: {
    	                 column: {
    	                     stacking: 'normal',
    	                     dataLabels: {
    	                         enabled: true,
    	                         color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
    	                     }
    	                 }
    	             },
    	             series: lineseries
    	         });
    	    });
     })
</script>
<div class="pageHeader">
	<form  onSubmit="return navTabSearch(this);" action="@{Orders.list}" method="post">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>name:</label> 
					<input type="text" name="name" value="${params.name}"/>
				</li>
				<li>
					<label>电话:</label> 
					<input type="text" name="tel" value="${params.tel}"/>
				</li>
			</ul>
			
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">Search</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>

<div class="pageContent">
	<input id="hiddenSticSource" type="hidden" value="${sResult}">
	<input id="hiddenDepartment" type="hidden" value="${departments}">
	<input id="hiddenMonths" type="hidden" value="${months}">
	<div id="lineChartDiv" style="height: 300px;"></div>
	<div id="lineChartDiv1" style="height: 300px;"></div>
</div>