<script type="text/javascript">
     $(function(){
    	 var chart;
    	 var columnchart;
    	 var source;
    	 var lineseries;
    	 var months;
    	    $(document).ready(function() {
    	    });
     })
</script>
<div class="pageHeader">
	<form onSubmit="return navTabSearch(this);"
		action="@{Orders.statisticsMain}" method="post">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>年份:</label> 
					<select class="combox"  name="searchyear">
						<option value="">--请选择--</option>
						#{list items:yearlist,as:'year'}
						<option value="${year.value}" #{if year.value==params.searchyear}selected #{/if}>${year.value}</option>
						#{/list}
					</select>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">Search</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent" layoutH="60">
	<div class="panel"  defH="320">
		<h1>缴费信息</h1>
		<div id="lineChartDiv1" style="height: 300px;">
			<table class="thistable" style="width: 100%;margin-top: 10px;">
		<tr>
			<th>时间类别 :</th>
			<th>报名人数 :</th>
			<th>费用 :</th>
		</tr>
		#{list items:staticMessage, as:'map'}
			<tr>
				<td>${map.type?:''}</td>
				<td><b>${map.num?:''}</b></td>
				<td><b>${map.money?:''}</b></td>
			</tr>
		#{/list}
			<tr >
				<td>合计</td>
				<td style="background-color: yellow"><b id="totalnum">${totalmap.totalnum?:''}</b></td>
				<td style="background-color: yellow"><b id="totalmoney">${totalmap.totalmoney?:''}</b></td>
			</tr>
	</table>
		</div>
	</div>
	<div class="panel"  defH="310">
		<h1>缴费信息</h1>
		<div id="lineChartDiv1" style="height: 300px;"></div>
	</div>
	
</div>