
<div class="accordionHeader">
	<h2><span>Folder</span>teacher management</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Teachers.list}" target="navTab" rel="teacherlist">Teacher list</a></li>		
		<li><a href="" target="navTab" rel="vlbbalancers">VLB Balancer</a></li>
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>student management</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Students.list}" target="navTab" rel="studentList">学生列表</a></li>		
		<li><a href="" target="navTab" rel="vlbbalancers">VLB Balancer</a></li>
		
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>class management</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Lessons.list}" target="navTab" rel="lessonsList">课程列表</a></li>		
		
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>订单管理</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Orders.list}" target="navTab" rel="ordersList">订单列表</a></li>		
		<li><a>统计</a>
			<ul>
				<li><a href="@{Orders.statisticsMonth}" target="navTab" rel="statisticsMonth">按月统计</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>system management</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Settings.list}" target="navTab" rel="settings">System Setting</a></li>		
		<li><a href="" target="navTab" rel="userlist">User management</a></li>
	</ul>
</div>