
<div class="accordionHeader">
	<h2><span>Folder</span>员工管理</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Teachers.list}" target="navTab" rel="teacherlist">员工列表</a></li>		
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>学生管理</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Students.list}" target="navTab" rel="studentList">学生列表</a></li>		
		
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>课程管理</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Lessons.list}" target="navTab" rel="lessonsList">课程列表</a></li>		
		
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>订单管理</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Orders.list}" target="navTab" rel="ordersList">订单列表</a></li>		
		<li><a>统计</a>
			<ul>
				<li><a href="@{Orders.statisticsMonth}" target="navTab" rel="statisticsMonth">按月统计</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>系统管理</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="@{Settings.list}" target="navTab" rel="settings">管理常量设定</a></li>		
		<li><a href="" target="navTab" rel="userlist">用户管理</a></li>
	</ul>
</div>