
<div class="accordionHeader">
	<h2><span>Folder</span>teacher management</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
	    <li><a href="" target="navTab" rel="teacherlist">Teacher list</a></li>		
		<li><a href="" target="navTab" rel="vlbbalancers">VLB Balancer</a></li>
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>student management</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
		<li><a></a>
			<ul>
				<li><a href="" target="navTab" rel="cloudproviders">Cloud Providers</a></li>
				<li><a href="" target="navTab" rel="settings">Global Settings</a></li>
				<li><a href="" target="navTab" rel="vlbhosts">VLB Hosts</a></li>
			</ul>
		</li>
	    <li><a href="" target="navTab" rel="servers">Server Service</a></li>		
		<li><a href="" target="navTab" rel="vlbbalancers">VLB Balancer</a></li>
		
	</ul>
</div>
<div class="accordionHeader">
	<h2><span>Folder</span>class management</h2>
</div>
<div class="accordionContent">
	<ul class="tree treeFolder">
		<li><a></a>
			<ul>
				<li><a href="" target="navTab" rel="cloudproviders">Cloud Providers</a></li>
				<li><a href="" target="navTab" rel="settings">Global Settings</a></li>
				<li><a href="" target="navTab" rel="vlbhosts">VLB Hosts</a></li>
			</ul>
		</li>
	    <li><a href="" target="navTab" rel="servers">Server Service</a></li>		
		<li><a href="" target="navTab" rel="vlbbalancers">VLB Balancer</a></li>
		
	</ul>
</div>