<script src="@{'/public/javascripts/bootstrap/js/bootstrap-button.js'}" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$(".btn-group").button();
	  $('#external-events div.external-event').each(function() {
		
		// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
		// it doesn't need to have a start or end
		var eventObject = {
			title: $.trim($(this).text()), // use the element's text as the event title
			period: $("#lstableperiod").val(),
			duration: $("#lstableduration").val()
				
		};
		
		// store the Event Object in the DOM element so we can get to it later
		$(this).data('eventObject', eventObject);
		
		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});
		
	}); 


	/* initialize the calendar
	-----------------------------------------------------------------*/
	
	var cal = $('#calendarLessonDiv${lessonid}').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		height:500,
		editable: true,
		droppable: true, // this allows things to be dropped onto the calendar !!!
		drop: function(date, allDay) { // this function is called when something is dropped
		
			// retrieve the dropped element's stored Event Object
			var originalEventObject = $(this).data('eventObject');
			
			// we need to copy it, so that multiple events don't have a reference to the same object
			var copiedEventObject = $.extend({}, originalEventObject);
			
			// assign it the date that was reported
			var p = originalEventObject.period;
			var du = parseFloat(originalEventObject.duration);
			var intdu = parseInt(originalEventObject.duration);
			var dumins = (du-intdu)*100;
			var enddate = new Date();
			$.extend(enddate,date);
			var starthour = 9;
			var startmin = 30;
			if(p=='上午'){
				startmin = 0;
			}else if(p=='下午'){
				starthour = 1;
				startmin = 30;
			}else if(p=='晚上'){
				starthour = 5;
				startmin = 30;
			}
			dumins = startmin+dumins;
			if(dumins>=60){
				intdu = intdu+1;
				dumins = dumins -60;
			}
			date.setHours(starthour);
			date.setMinutes(startmin);
			enddate.setHours(starthour+intdu);
			enddate.setMinutes(dumins);
			
			copiedEventObject.start = date;
			copiedEventObject.allDay = false;
			copiedEventObject.end = enddate;
			// render the event on the calendar
			// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
			$('#calendarLessonDiv${lessonid}').fullCalendar('renderEvent', copiedEventObject, true);
			
			// if so, remove the element from the "Draggable Events" list
			$(this).remove();
			
		}
	});
})

</script>
<div class="page">
	<div class="pageContent">
		<form method="post" action="@{lessons.saveLessonTable(lessonid)}" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone);">
			<input type="hidden" id="lastSelectTargetLt" value="0">
			<div class="pageFormContent" layoutH="56" layoutW="56">
				<div id='external-events'>
				<h4>${lesson.name}</h4>
				-------------------------------------
				<h5>上课时段: <font color="red">${lesson.periodOfDay}</font></h5>
				<h5>时长: <font color="red">${lesson.duration}</font>小时</h5>
				<input type="hidden" id="lstableperiod" value="${lesson.periodOfDay}">
				<input type="hidden" id="lstableduration" value="${lesson.duration}">
				#{list items:lessonlist,as:'item'}
				<div class='external-event'>${item.name}</div>
				#{/list}
				<p>
				</p>
				</div>
				<div id="calendarLessonDiv${lessonid}" style="float: right;width: 900px;"></div>
			</div>
			
			<div class="formBar">
				<ul>
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
					<li>
						<div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
					</li>
				</ul>
			</div>
		</form>
	</div>
</div>