<script src="@{'/public/javascripts/bootstrap/js/bootstrap-button.js'}" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	var lessonid = $("#lessonid",$.pdialog.getCurrent()).val();
	
	$(".btn-group").button();
	  $('#external-events div.external-event',$.pdialog.getCurrent()).each(function() {
		
		// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
		// it doesn't need to have a start or end
		var eventObject = {
			title: $.trim($(this).text()), // use the element's text as the event title
			period: $("#lstableperiod",$.pdialog.getCurrent()).val(),
			duration: $("#lstableduration",$.pdialog.getCurrent()).val()
				
		};
		
		// store the Event Object in the DOM element so we can get to it later
		$(this).data('eventObject', eventObject);
		
		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});
		
	}); 


	/* initialize the calendar
	-----------------------------------------------------------------*/
	
	var cal = $('#calendarLessonDiv${lessonid}').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		height:500,
		editable: true,
		droppable: true, // this allows things to be dropped onto the calendar !!!
		events: {
	            url: '/lessons/getLessonTable?id='+lessonid,
	            dataType: 'json',
	            type: 'POST',
	            data: {},
	            error: function () {
	                alert('there was an error while fetching events!');
	            }
		},
		timeFormat:  'HH:mm { - HH:mm}',
		eventRender: function(event, element, calEvent) {
            element.find(".fc-event-title").after($("<button type=\"button\" class=\"btn btn-xs btn-info\" onclick=\"removeEvent(this)\">X</button>"));
        },
		drop: function(date, allDay) { // this function is called when something is dropped
			var dropDiv = $(this);																																	
			// retrieve the dropped element's stored Event Object
			var originalEventObject = $(this).data('eventObject');
			var lessonnumber = $(this).find("#lessonnumber").val();
			// we need to copy it, so that multiple events don't have a reference to the same object
			var copiedEventObject = $.extend({}, originalEventObject);
			
			// assign it the date that was reported
			var p = originalEventObject.period;
			var du = parseFloat(originalEventObject.duration);
			var intdu = parseInt(originalEventObject.duration);
			var dumins = (du-intdu)*100;
			var enddate = new Date(date.getTime());
			//$.extend(true,enddate,date);
			var starthour = 9;
			var startmin = 30;
			var color = "#4EE387";
			if(p=='上午'){
				startmin = 0;
			}else if(p=='下午'){
				starthour = 13;
				startmin = 30;
				color = "#E15B36"
			}else if(p=='晚上'){
				starthour = 17;
				startmin = 30;
				color = "#B235E0"
			}
			dumins = startmin+dumins;
			if(dumins>=60){
				intdu = intdu+1;
				dumins = dumins -60;
			}
			date.setHours(starthour);
			date.setMinutes(startmin);
			enddate.setHours(starthour+intdu);
			enddate.setMinutes(dumins);
			
			copiedEventObject.start = date;
			copiedEventObject.allDay = false;
			copiedEventObject.end = enddate;
			copiedEventObject.color = color;
			copiedEventObject.mark = lessonnumber;
			// render the event on the calendar
			// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
			//$('#calendarLessonDiv${lessonid}').fullCalendar('renderEvent', copiedEventObject, true);
			
			// if so, remove the element from the "Draggable Events" list
			var lessonStartDate = getISODateTime(date);
			var lessonEndDate = getISODateTime(enddate);
			var sendData = {"lenssonnumber":lessonnumber,"lessonStartDate":lessonStartDate};
		var url="/lessons/saveLessonTable?id="+lessonid;   
        $.ajax({
            url: url,   //接收页面
            type: 'post',      //POST方式发送数据
            async: false,
            data: sendData,
            success: function(data) {
            	dropDiv.hide();
            	$('#calendarLessonDiv${lessonid}').fullCalendar('removeEvents');
            	$('#calendarLessonDiv${lessonid}').fullCalendar('refetchEvents');
            }
        });
        
			
		},
		eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view){
			var nowdate = new Date(event.start.getTime());
			//var nowenddate = new Date(event.end.getTime());
			var day = nowdate.getDate();
			//nowdate.setDate(day+dayDelta);
			//nowenddate.setDate(day+dayDelta);
			var lessonStartDate = getISODateTime(nowdate);
			//var lessonEndDate = getISODateTime(nowenddate);
			var subtitle = event.title.replace(/[^0-9]/ig, "");
			var lessonnumber = parseInt(subtitle);
			var sendData = {"lenssonnumber":lessonnumber,"lessonStartDate":lessonStartDate};
			
			var url="/lessons/saveLessonTable?id="+lessonid;
			
	        $.ajax({
	            url: url,   //接收页面
	            type: 'post',      //POST方式发送数据
	            async: false,
	            data: sendData,
	            success: function(data) {
	            	//alert("成功");
	            	$('#calendarLessonDiv${lessonid}').fullCalendar('removeEvents');
	            	$('#calendarLessonDiv${lessonid}').fullCalendar('refetchEvents');
	            }
	        }); 
		}
	});
	
	$("#testbutton").click(function(){
		var edata = $('#calendarLessonDiv${lessonid}').fullCalendar( 'clientEvents');
		for(var key in edata){
			alert(edata[key].tip);
		}
		
	})
})
function removeEvent(node){
	var lessonid = $("#lessonid").val();
	
	var name = $(node).parent().find(".fc-event-title").text();
	var url="/lessons/deleteLessonTable?id="+lessonid;
    var sendData = {"name":name};
    $.ajax({
        url: url,   //接收页面
        type: 'post',      //POST方式发送数据
        async: false,
        data: sendData,
        success: function(data) {
        	//alert("success");
        	//$("#").find()
        	var targetEvent = $('#calendarLessonDiv${lessonid}').fullCalendar('clientEvents',function(e){
        		return e.title == name;
        	});
        	if(targetEvent[0].mark != 'undefined'){
        		$("#external-events",$.pdialog.getCurrent()).find("#lessonnumber[value="+targetEvent[0].mark+"]").parent().show();
        	}
        	$('#calendarLessonDiv${lessonid}').fullCalendar('removeEvents');
        	$('#calendarLessonDiv${lessonid}').fullCalendar('refetchEvents');
        	
        }
    });  
}
</script>
<div class="page">
	<div class="pageContent">
		<form method="post" action="@{lessons.saveLessonTable(lessonid)}" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone);">
			<input type="hidden" id="lastSelectTargetLt" value="0">
			<input type="hidden" id="hiddenCalendarSource${lessonid}" value="${calendarSource}">
			<div class="pageFormContent"  layoutW="56">
				<div id='external-events'>
				<h4>${lesson.name}</h4>
				-------------------------------------
				<h5>上课时段: <font color="red">${lesson.periodOfDay}</font></h5>
				<h5>时长: <font color="red">${lesson.duration}</font>小时</h5>
				<input type="hidden" id="lstableperiod" value="${lesson.periodOfDay}">
				<input type="hidden" id="lstableduration" value="${lesson.duration}">
				<input type="hidden" id="lessonid" value="${lessonid}">
				#{list items:lessonlist,as:'item'}
				<div class='external-event' #{if item.show}style='display: none' #{/if}>${item.name}<input type="hidden" id="lessonnumber" value="${item.mark}"></div>
				#{/list}
				<p>
				</p>
				</div>
				<div id="calendarLessonDiv${lessonid}" style="float: right;width: 900px;"></div>
			</div>
			
			<!-- <div class="formBar">
				<ul>
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
					<li>
						<div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
					</li>
				</ul>
			</div> -->
		</form>
	</div>
</div>