<<script type="text/javascript">
<!--

//-->
function deleteOrders(){
	var ids = myGetIds("ids","navTab");
	var lessonid = ${lesson.id};
	var url = "/Orders/searchStudent";
	var title = "确定要删除吗?";
	alertMsg.confirm(title, {okCall: function(){
		$.ajax({
			type:'POST', 
			url:"/Orders/deletesInLesson", 
			dataType:'json', 
			cache: false,
			data: {ids: ids, lessonid: lessonid },
			success: navTabAjaxDone,
			error: DWZ.ajaxError
		});
	}});
	
}
</script>
<h2 class="contentTitle">${lesson.name}</h2>

	
<div class="pageContent sortDrag" selector="h1" layoutH="60">
	<input type="hidden" name="relid" value="lessonDetail${lesson.id}">
	<div class="panel collapse"  defH="150">
		<h1>课程基本信息</h1>
		<div>
			<table class="thistable" style="width: 100%;margin-top: 10px;">
				<tr>
					<th>教师 :</th>
					<td style="border-top: 1px solid #C1DAD7; ">${lesson?.teacher?.name}</td>
					<th>课次 :</th>
					<td style="border-top: 1px solid #C1DAD7; ">${lesson?.times}</td>
					<th>价格 :</th>
					<td style="border-top: 1px solid #C1DAD7; ">${lesson?.price}元</td>
				</tr>
				<tr>
					<th>时间类别 :</th>
					<td>${lesson?.lessonTimeType}</td>
					<th>类别 :</th>
					<td>${lesson?.lessonType}</td>
					<th>级别 :</th>
					<td>${lesson?.level}</td>
				</tr>
				<tr>
					<th>开课时间 :</th>
					<td>${lesson?.startTime.format('yyyy-MM-dd')}</td>
					<th>结课时间 :</th>
					<td>${lesson?.endTime.format('yyyy-MM-dd')}</td>
					<th>报名人数 :</th>
					<td><strong>${lesson?.orders?.size()}</strong></td>
				</tr>
				<tr>
					<th>地点 ：</th>
					<td colspan="3">${lesson?.school.name}</td>
					<td colspan="2" style="border-top: 1px solid #C1DAD7; "><button class="btn btn-block btn-warning">修改</button></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="panel collapse" defH="250">
		<h1>学员信息</h1>
		<div>
			<table id="studentlistTable" class="table" width="100%">
				<thead>
					<tr>
						<th width="50"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
						<th width="150" class="asc">姓名</th>
						<th width="150">年龄</th>
						<th width="150">年级</th>
						<th width="150">电话</th>
						<th width="200">Email</th>
						<th width="100">报名费用</th>
						<th width="300">备注</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					 #{list items:orders, as:'order'}
					<tr target="sid_user"
						rel="${order.id}">
						<td><input name="ids" value="${order.id}" type="checkbox">
						</td>
						<td>${order.student.name}</td>
						<td>${order.student.age?:''}</td>
						<td>${order.student.grade?:''}</td>
						<td>${order.student.tel?:''}</td>
						<td>${order.student?.email?:''}</td>
						<td>${order.money?:''}</td>
						<td>${order.description?:''}</td>
						<td><a class="btn-mini btn btn-block btn-success" href="@{Students.detail(order.student.id)}" target="navTab" rel="studentDetail" title="${order.student.name}">Detail >>></a></td>
					</tr>
					#{/list} 
				</tbody>
			</table>
			<div class="formBar">
				<ul>
					<li>
						<a href="@{Orders.quickBlank(lesson.id)}" target="dialog" height="600" width="650" class="btn btn-primary">添加</button>
						<a href="@{Lessons.detail("\u007Bsid_user\u007D")}" target="navTab" rel="student{sid_user}" class="btn" title="">修改</a>
						<button onclick="deleteOrders()" class="btn btn-danger">删除</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel collapse" minH="100" defH="250">
		<h1>课表</h1>
		<div class="lessonTable-area">
			<table class="lessonTable-table">
				#{list items:lessonTables,as:'itemlist'}
					<tr>
					#{list items:itemlist,as:'item'}
						<td #{if item.state == "finish"}class="finish"#{/if}>
							${item.lessonDate} 
							<br>
							${item.name}
						</td>
					#{/list}
					</tr>
				#{/list}
			</table>
			<div class="formBar">
				<ul>
					<li>
						#{if lessonTables.size()==0}<a href="@{Lessons.createLessonTable(lesson.id)}" target="dialog" width="1100" height="500" rel="createLessonTable${lesson.id}" class="btn btn-primary">新建课表</a>#{/if}
						#{else}<a href="@{Lessons.list}" width="1100" height="500" target="dialog" rel="lessonsList" class="btn btn-warning">修改</a>#{/else}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>