<script type="text/javascript">
<!--

//-->
var lessonid = ${lesson.id};
function deleteOrders(){
	var ids = myGetIds("ids","navTab");
	if(ids.length==0){
		alertMsg.error("请选择学生！");
		return false;
	}
	var url = "/Orders/searchStudent";
	var title = "确定要删除吗?";
	alertMsg.confirm(title, {okCall: function(){
		$.ajax({
			type:'POST', 
			url:"/Orders/deletesInLesson", 
			dataType:'json', 
			cache: false,
			data: {ids: ids, lessonid: lessonid },
			success: navTabAjaxDone,
			error: DWZ.ajaxError
		});
	}});
	
}
function changeOrders(){
	var ids = myGetIds("ids","navTab");
	if(ids.length==0){
		alertMsg.error("请选择学生！");
		return false;
	}
	var title = "确定要转待定吗?";
	alertMsg.confirm(title, {okCall: function(){
		$.ajax({
			type:'POST', 
			url:"/Orders/changeInLesson", 
			dataType:'json', 
			cache: false,
			data: {ids: ids, lessonid: lessonid },
			success: navTabAjaxDone,
			error: DWZ.ajaxError
		});
	}});
	
}
function changeOrderClass(){
var ids = myGetIds("ids","navTab");
if(ids.length==0){
	alertMsg.error("请选择学生！");
	return false;
}
	var options = {param:{ids: ids, lessonid: lessonid,numPerPage:5}}
	options.width = 600;
	options.height = 600;
	options.resizable = "false";
	/* options.max = "false";
	options.mask = "false";
	options.maxable = "true";
	options.minable = "true";
	options.fresh = "true";
	options.resizable = "true";
	options.drawable = "true";
	options.close = ""; */
	var url = "/Orders/changeOrderClass";
	//$.pdialog.open(url, rel, title, options);
	$.pdialog.open(url,"changeclasspage","changeclass",options);
}
$(function(){
	var cal = $('#lessonTable-area${lesson.id}').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		height:500,
		editable: false,
		events: {
	            url: '/lessons/getLessonTable?id='+lessonid,
	            dataType: 'json',
	            type: 'POST',
	            data: {},
	            error: function () {
	                alert('there was an error while fetching events!');
	            }
		},
		timeFormat:  'HH:mm { - HH:mm}',
		eventRender: function(event, element, calEvent) {
			var now = new Date();
			if(event.start<now)
	           element.find(".fc-event-time").before($("<img src=\"public/images/ico_img_05.gif\"></img>"));
			
			element.find(".fc-event-time").parent().css({"height":"46px"});
		}
	});
})

</script>
<h2 class="contentTitle">${lesson.name} <a href="@{Lessons.edit(lesson.id,'detail')}" target="dialog" height="600" title="修改课程信息" rel="editLesson" class="btn btn-warning" style="float: right">修改</a></h2>

	
<div class="pageContent sortDrag" selector="h1" layoutH="60">
	<input type="hidden" name="relid" value="lessonDetail${lesson.id}">
	<div class="panel collapse"  defH="170">
		<h1>课程基本信息</h1>
		<div>
			<table class="thistable" style="width: 100%;margin-top: 10px;">
				<tr>
					<th>教师 :</th>
					#{if lesson?.teacher.state == 'Detele'}
					<td style="border-top: 1px solid #C1DAD7;background-color: red;">${lesson?.teacher?.name}</td>
					#{/if}
					#{else}
					<td style="border-top: 1px solid #C1DAD7; ">${lesson?.teacher?.name}</td>
					#{/else}
					
					<th>课次 :</th>
					<td style="border-top: 1px solid #C1DAD7; ">${lesson?.times}</td>
					<th>时长 :</th>
					<td style="border-top: 1px solid #C1DAD7; ">${lesson?.duration}</td>
				</tr>
				<tr>
					<th>类别 :</th>
					<td>${lesson?.lessonType}</td>
					<th>时间类别 :</th>
					<td>${lesson?.lessonTimeType}</td>
					<th>价格 :</th>
					<td>${lesson?.price}元</td>
				</tr>
				<tr>
					<th>课程系列 :</th>
					<td>${lesson?.collection}</td>
					<th>子系列 :</th>
					<td>${lesson?.subCollection}</td>
					<th>年份 :</th>
					<td>${lesson?.lessonYear}</td>
				</tr>
				<tr>
					<th>开课时间 :</th>
					<td>${lesson?.startTime.format('yyyy-MM-dd')}</td>
					<th>结课时间 :</th>
					<td>${lesson?.endTime.format('yyyy-MM-dd')}</td>
					<th>报名人数 :</th>
					<td><strong>${lesson?.getStudents()}</strong></td>
				</tr>
				<tr>
					<th>地点 ：</th>
					<td>${lesson?.school.name}</td>
					<th>教室 ：</th>
					<td>${lesson?.classroom.name}</td>
					<th>上课时间 ：</th>
					<td>${lesson.getLessonTimeName()}${lesson?.periodOfDay}</td>
				</tr>
				<tr>
					<th>备注 ：</th>
					<td colspan="5">${lesson?.description}</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="panel collapse" defH="250">
		<h1>学员信息</h1>
		<div>
			<div class="formBar">
				<ul>
					<li>
						#{if lesson?.teacher.state != 'Detele'}
						<a href="@{Orders.quickBlank(lesson.id)}" target="dialog" height="600" width="650" class="btn btn-primary" rel="quickBlankOrder">添加</button>
						#{/if}
						
						<a href="@{Orders.edit("\u007Bsid_user\u007D",'ldetail')}" target="dialog" height="600" width="650" class="btn" title="修改订单信息" rel="editorder">修改</a>
						<button onclick="deleteOrders()" class="btn btn-danger">退费</button>
						<button onclick="changeOrderClass()" class="btn btn-warning">转班</button>
						<button onclick="changeOrders()" class="btn btn-danger">待定</button>
						<a href="@{Lessons.absence(lesson.id)}" class="btn btn-error" >考勤</a>
						<a href="@{Lessons.saveLessonStudentsToexl(lesson.id)}" class="btn btn-success" >打印名单</a>
					</li>
				</ul>
			</div>
			<p></p>
			<table id="studentlistTable" class="table" width="100%">
				<thead>
					<tr>
						<th width="30"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
						<th width="50">订单编号</th>
						<th width="50" class="asc">姓名</th>
						<th width="50">年级</th>
						<th width="120">电话</th>
						<th width="80">状态</th>
						<th width="60">报名费用</th>
						<th width="200">备注</th>
						#{list items:0..lesson.times,as:'i'}
							<th width="25">${i}</th>
						#{/list}
						<th width="150"></th>
					</tr>
				</thead>
				<tbody>
					 #{list items:orders, as:'order'}
					<tr target="sid_user"
						rel="${order.id}" #{if order.state=="Pending"}style="background-color: #479996"#{/if}>
						<td><input name="ids" value="${order.id}" type="checkbox">
						</td>
						<td>${order.id}</td>
						<td>${order.student.name}</td>
						<td>${order.student.grade?.name?:''}</td>
						<td>${order.student.tel?:''}</td>
						#{if order.state == "Active"}
						<td>正常</td>
						#{/if}
						#{elseif order.state=="Pending"}
						<td>待定</td>
						#{/elseif}
						<td>${order.money?:''}</td>
						<td>${order.description?:''}</td>
						#{list items:0..lesson.times,as:'i'}
							<td><i class="icon-blankp"></i></td>
						#{/list}
						<td><a class="btn-mini btn btn-block btn-success" href="@{Orders.detail(order.id)}" target="navTab" rel="orderDetail${order.id}" title="订单${order.id}">详细 >>></a></td>
					</tr>
					#{/list} 
				</tbody>
			</table>
			
		</div>
	</div>
	<div class="panel collapse" minH="100" defH="600">
		<h1>课表</h1>
		<div class="lessonTable-area">
			<div class="formBar">
				<ul>
					<li>
						<a href="@{Lessons.createLessonTable(lesson.id)}" target="dialog" width="1200" height="560" rel="createLessonTable${lesson.id}" class="btn btn-primary">编辑课表</a>
					</li>
				</ul>
			</div>
			<div id="lessonTable-area${lesson.id}" style=""></div>
		</div>
	</div>
</div>