<script type="text/javascript">
	function details(id){
	 	if(id!=-1){
	       	var detailsAction = #{jsAction @Lessons.listDetailMessage(':id') /}
	    	 $('#lessonDetails').load(detailsAction({'id':id})) 
	 	}else{
			 $('#lessonDetails').click();
		 }
	 }
	function selectPcollection(pcid){
		var result=new Array();
		var url="/lessons/selectPcollection?pcid="+pcid;   
	        $.ajax({
	            url: url,   //接收页面
	            type: 'post',      //POST方式发送数据
	            async: false,      //ajax同步
	            success: function(data) {
	            	var protocalDiv = $("div[name='subcollection']",$.pdialog.getCurrent()).parent();
	            	var select = "<select class='combox' name='subcollection'><option value=''>--请选择--</option>"
	            	$(data).each(function(index){
	            		select = select + "<option value="+data[index].name+">"+data[index].name+"</option>";
	            	});
	            	select = select + "</select>";
	            	protocalDiv.after(select);
	            	protocalDiv.remove();
	            	$("select[name='subcollection']",$.pdialog.getCurrent()).combox();
	            }
	        });
	        return result;
	}
    $(function(){
    	DrapDropBar('lessonsList');
     });
    
</script>
<form id="pagerForm" action="@{Lessons.list}" method="post">
	<input type="hidden" value="${pageNum}" name="pageNum"> 
	<input type="hidden" value="${numPerPage}" name="numPerPage"> 
	<input type="hidden" value="${orderField}" name="orderField">
	<input type="hidden" value="${orderDirection}" name="orderDirection">
</form>
<div class="pageHeader">
	<form rel="pagerForm" onSubmit="return navTabSearch(this);"
		action="@{Lessons.list}" method="post">
		<div class="searchBar">
			<ul class="searchContent">
				<li><label>课程名:</label> <input type="text" name="sname" value="${params.sname}"/></li>
				<!-- <li>
					<label>时间范围:</label>
					<input name="sstartDate" class="date" type="text" readonly="true" value="${params.sstartDate}"/>
					<a class="inputDateButton" href="javascript:;">不限</a>
				</li>
				<li>
					<label>~</label>
					<input name="sstopDate" class="date" type="text" readonly="true" value="${params.sstopDate}"/>
					<a class="inputDateButton" href="javascript:;">不限</a>
				</li> -->
				<li>
					<label>年份:</label> 
					<select class="combox"  name="syear">
						<option value="">--请选择--</option>
						#{list items:yearlist,as:'year'}
						<option value="${year.value}"  #{if year.value==params.syear} selected #{/if} >${year.value}</option>
						#{/list}
					</select>
				</li>
			</ul>
			<div class="divider"></div>
			<ul class="searchContent">
				<li>
					<label>类别:</label> 
					<select class="combox"  name="stype">
						<option value="">--请选择--</option>
						#{list items:types,as:'type'}
						<option value="${type.codeValue}"  #{if type.codeValue==params.stype} selected #{/if} >${type.codeValue}</option>
						#{/list}
					</select>
				</li>
				<li>
					<label>时间类别:</label> 
					<select class="combox"  name="stimeType">
						<option value="">--请选择--</option>
						#{list items:timeTypes,as:'code'}
						<option value="${code.codeValue}"  #{if code.codeValue==params.stimeType} selected #{/if} >${code.codeValue}</option>
						#{/list}
					</select>
				</li>
				<li>
					<label>校区：</label>
					<select class="combox"  name="schoolid">
						<option value="">--请选择--</option>
						#{list items:schools,as:'school'}
						<option value="${school.id}"  #{if (school.id+"")==(params.schoolid+"")} selected #{/if} >${school.name}</option>
						#{/list}
					</select>
				</li>
			</ul>
			<div class="divider"></div>
			<ul class="searchContent">
				<li>
					<label>课程系列：</label>
					<select class="combox"  name="scollection" ref="pcollection" change="selectPcollection" param="pcid">
						<option value="">--请选择--</option>
						#{list items:collections,as:'collection'}
						<option value="${collection.codeValue}"  #{if collection.codeValue==params.scollection} selected #{/if} >${collection.codeValue}</option>
						#{/list}
					</select>
				</li>
				<li>
					<label>教师:</label>
					<input type="text" name="searchteachername" value="${params.searchteachername}"/>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">搜索</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li>
				<a class="add" id="ad" href="@{Lessons.blank}" target="dialog" height="600" rel="createLesson">
					<span>新增课程</span> 
				</a>
			</li>
			<li>
				<a class="edit" href="@{Lessons.edit("\u007Bsid_user\u007D",'list')}" target="dialog" height="600" title="修改课程信息" rel="editLesson">
					<span>修改信息</span> 
				</a>
			</li>
			<li>
				<a class="delete" href="@{Lessons.deletes}" target="selectedTodo" postType="string" rel="ids"
				title="确定要删除课程吗?">
				<span>删除课程</span>
			</a></li>
		</ul>
	</div>
	<div id="lessonsListTableDiv">
		<table id="lessonsListTable" class="table" width="100%" layouth="480">
			<thead>
				<tr>
					<th width="50"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
					<th width="180" class="asc">课名</th>
					<th width="100">年份</th>
					<th width="120">时间类别</th>
					<th width="100">上课时间</th>
					<th width="120">类别</th>
					<th width="120" orderField="teacher.name" #{if orderField=="teacher.name"}class="${orderDirection}"#{/if}>教师</th>
					<th width="100" orderField="startTime" #{if orderField=="startTime"}class="${orderDirection}"#{/if}>开始时间</th>
					<th width="100">结束时间</th>
					<th width="50">报名人数</th>
					<th width="100"></th>
				</tr>
			</thead>
			<tbody>
				 #{list items:objects, as:'lesson'}
				<tr onclick="details(${lesson.id})" target="sid_user" rel="${lesson.id}">
					<td><input name="ids" value="${lesson.id}" type="checkbox">
					</td>
					<td>${lesson.name}</td>
					<td>${lesson.lessonYear}</td>
					<td>${lesson.lessonTimeType}</td>
					<td>${lesson.getLessonTimeName()}${lesson.periodOfDay}</td>
					<td>${lesson.lessonType}</td>
					<td><a href="">${lesson.teacher?.name}(${lesson.teacher?.school.name})</a></td>
					<td>${lesson.startTime.format('yyyy-MM-dd')}</td>
					<td>${lesson.endTime.format('yyyy-MM-dd')}</td>
					<td><strong>${lesson.getStudents()}</strong></td>
					<td><a class="btn-mini btn btn-block btn-success" href="@{Lessons.detail(lesson.id)}" target="navTab" rel="lessonDetail${lesson.id}" title="${lesson.name}">Detail >>></a></td>
				</tr>
				#{/list} 
			</tbody>
		</table>
		<div class="panelBar">
			<div class="pages">
				<span>每页显示</span> 
				<select name="numPerPage" onchange="navTabPageBreak({'numPerPage':this.value})">
					<option value="5" #{if numPerPage==5}selected#{/if}>5</option>
					<option value="50" #{if numPerPage==50}selected#{/if}>50</option>
					<option value="100" #{if numPerPage==100}selected#{/if}>100</option>
					<option value="200" #{if numPerPage==200}selected#{/if}>200</option>
				</select> 
				<span>总计:${totalCount}</span>
			</div>

			<div currentpage="${pageNum}" pagenumshown="10"
				numperpage="${numPerPage}" totalcount="${totalCount}"
				targettype="navTab" class="pagination" />
		</div>
	</div>
	<div class="divider" id="lessonsListBar" style="cursor:row-resize;"></div>		
	<div class="tabs">
		<div class="tabsHeader">
			<div class="tabsHeaderContent">
				<ul>
					<li><a href="javascript:details(-1);"><span>课表</span> </a></li>
				</ul>
			</div>
		</div>
		<div class="tabsContent" style="height: 300px" id="lessonsListTabsDiv">
			<div id="lessonDetails">
			</div>
		</div>
		<div class="tabsFooter">
			<div class="tabsFooterContent"></div>
		</div>
	</div>
</div>