<script type="text/javascript">
function setTeacherToParent(){
	var id; 
	var name;
	$("input[name=ids]",$.pdialog.getCurrent()).each(function(i){
		if($(this).attr("checked")=="checked"){
			id = $(this).val();
		}
	});
	name = $("#tlistid"+id).find("div").html();
	$("#createLessonTeacherId").val(id);
	$("#createLessonTeacherName").val(name);
	var dialog = $("body").data("createLesson");
	$.pdialog.closeCurrent();
	$.pdialog.switchDialog(dialog);
}
</script>
<form id="pagerForm" action="@{lessons.selectLessonTeacher}" method="post">
	<input type="hidden" value="${pageNum}" name="pageNum"> 
	<input type="hidden" value="${numPerPage}" name="numPerPage"> 
</form>
<div class="page">
	<div class="pageContent" >
	<div class="pageHeader">
		<form rel="pagerForm" onSubmit="return dialogSearch(this);"
		action="@{lessons.selectLessonTeacher}" method="post">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>姓名:</label> 
					<input type="text" name="name" value="${params.name}"/>
				</li>
				<li>
					<label>电话:</label> 
					<input type="text" name="tel" value="${params.tel}"/>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">Search</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		</form>
	</div>
		<div id="selectLessonTeacherDiv">
		<form method="post" action="" class="pageForm required-validate" onSubmit="return validateCallback(this,dialogAjaxDone);">
		<table id="teacherlistTable" class="table" width="100%" layouth="141">
			<thead>
				<tr>
					<th width="50"></th>
					<th width="150" class="asc">Name</th>
					<th width="200">Telephone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				 #{list items:objects, as:'teacher'}
				<tr target="sid_user"
					rel="${teacher.id}">
					<td><input name="ids" value="${teacher.id}" type="radio">
					</td>
					<td id="tlistid${teacher.id}">${teacher.name}</td>
					<td>${teacher.teacherDetail?.tel?:''}</td>
				</tr>
				#{/list} 
			</tbody>
		</table>
		<div class="panelBar">
			<div class="pages">
				<span>Total:${totalCount}</span>
			</div>

			<div currentpage="${pageNum}" pagenumshown="10"
				numperpage="${numPerPage}" totalcount="${totalCount}"
				targettype="dialog" class="pagination"/>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="javaScript:setTeacherToParent(this.form)">确定</button></div></div></li>
			</ul>
		</div>
		</form>
		</div>
	</div>
</div>