<h2 class="contentTitle">${showTeacher.name}                  <a href="@{teachers.edit(showTeacher.id)}" class="btn btn-warning" style="float: right;" target="dialog" height="650" width="850" rel="editTeacher" title="修改教师信息">修改</a></h2>

	
<div class="pageContent sortDrag" selector="h1" layoutH="60">
	<div class="panel collapse" defh="315">
	<h1>详细信息</h1>
		<div>
			<table class="thistable" style="width: 100%;margin-top: 10px;">
				<tbody>
					<tr>
						<td rowspan="11"><img height="300" width="300" src="@{'public/images/teacher'}/${showTeacher.imgDetail.basicImg}"/></td>
						<th>
							姓名
						</th>
						<td style="border-top: 1px solid #C1DAD7; ">
							${showTeacher.name?:''}
						</td>
						<th>
							性别
						</th>
						<td style="border-top: 1px solid #C1DAD7; ">
							${showTeacher.teacherDetail?.sex?:''}
						</td>
						<th>
							简介
						</th>
					</tr>
					<tr>
						<th>
							年龄
						</th>
						<td>
							${showTeacher.age?:''}
						</td>
						<th>
							英文名
						</th>
						<td>
							${showTeacher.teacherDetail?.enName?:''}
						</td>
						<td rowspan="10" style="width: 400px;font-size: 13px; ">
							${showTeacher.teacherDetail?.summary?:''}
						</td>
					</tr>
					
					<tr>
						<th>
							所教课程
						</th>
						<td colspan="3">
							${showTeacher.teacherDetail?.classType?:''}
						</td>
					</tr>
					<tr>
						<th>
							毕业学校
						</th>
						<td colspan="3">
							${showTeacher.teacherDetail?.education?:''}
						</td>
					</tr>	
					<tr>
						<th>
							身高
						</th>
						<td>
							${showTeacher.teacherDetail?.height?:''}
						</td>
						<th>
							生日
						</th>
						<td>
							${showTeacher.teacherDetail?.birthday?:''}
						</td>
					</tr>
					<tr>
						<th>
							最崇拜的人
						</th>
						<td colspan="3">
							${showTeacher.teacherDetail?.adoreMan?:''}
						</td>
						
					</tr>	
					<tr>
						<th>
							爱好
						</th>
						<td colspan="3">
							${showTeacher.teacherDetail?.interest?:''}
						</td>
						
					</tr>
					<tr>
						<th>
							最想去的地方
						</th>
						<td colspan="3">
							${showTeacher.teacherDetail?.favoritePlace?:''}
						</td>
						
					</tr>	
					<tr>
						<th>
							最喜欢的颜色
						</th>
						<td colspan="3">
							${showTeacher.teacherDetail?.favoriteColor?:''}
						</td>
						
					</tr>	
					<tr>
						<th>
							最喜欢的运动
						</th>
						<td colspan="3">
							${showTeacher.teacherDetail?.favoriteSport?:''}
						</td>
						
					</tr>	
					<tr>
						<th>
							座右铭
						</th>
						<td colspan="3">
							${showTeacher.teacherDetail?.teacherWord?:''}
						</td>
						
					</tr>							
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel collapse" defH="150">
		<h1>员工信息</h1>
		<div>
			<table class="thistable" style="width: 100%">
				<tbody>
					<tr>
						<th>
							校区
						</th>
						<td style="border-top: 1px solid #C1DAD7; ">
							${showTeacher.school?.name?:''}
						</td>
						<th>
							职务
						</th>
						<td style="border-top: 1px solid #C1DAD7; ">
							${showTeacher.employeType?:''}
						</td>
						<th>
							部门
						</th>
						<td style="border-top: 1px solid #C1DAD7; ">
						</td>
					</tr>
					<tr>
						<th>
							入职时间
						</th>
						<td >
							${showTeacher.teacherDetail?.hireDate?.format("yyyy-MM-dd")}
						</td>
						<th>
							工作时间
						</th>
						<td >
							${workdate.year?:0}年${workdate.month?:0}月
						</td>
						<th>
							毕业时间
						</th>
						<td >
							${showTeacher.teacherDetail?.graduateDate?.format("yyyy-MM-dd")}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="panel collapse" minH="100" defH="150">
		<h1>课程信息</h1>
		<div>
			<table class="thistable" style="width: 100%">
				<tbody>
					<tr>
						<th>
							课程名称
						</th>
						<th>
							类别
						</th>
						<th>
							时间
						</th>
						<th>
							报名人数
						</th>
					</tr>
					#{list items:lessons, as:'lesson'}
					<tr>
						<td>
							<a href="">${lesson.name}</a>
						</td>
						<td >
							${lesson.lessonType}
						</td>
						<td >
							${lesson.startTime.format("yyyy-MM-dd")} -- ${lesson.endTime.format("yyyy-MM-dd")}
						</td>
						<td >
							${lesson.studentNum}
						</td>
					</tr>
					#{/list} 
				</tbody>
			</table>
		</div>
	</div>
		<input type="hidden" id="hiddenCalendarSource${showTeacher.id}" value="${calendarSource}">
		<div id="fulllcalendarDiv${showTeacher.id}" style=""></div>
</div>
<script type="text/javascript">
$(function(){
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	var calandarSource ;
	var events = new Array();
	$(document).ready(function() {
		var $calSource = $("#hiddenCalendarSource${showTeacher.id}",$.pdialog.getCurrent());
		calandarSource = eval($calSource.val());
		/* for(var i=0;i<calandarSource.length;i++){
			var event = new Object();
		} */
		var $calDiv = $("#fulllcalendarDiv${showTeacher.id}",$.pdialog.getCurrent());
		var calendar = $calDiv.fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			height:600,
			selectable: false,
			selectHelper: true,
			editable: false,
			events: calandarSource
		});
	});
})
</script>