<script type="text/javascript">
    $(function(){
    	DrapDropBar('teacherlist');
     });
     $(function(){
    	 chart1 = new Highcharts.Chart({
             chart: {
                renderTo: 'containerDetails',
                type: 'pie'
             },
             title: {
                text: 'Employee composition'
             },
             tooltip: {
         	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
             	percentageDecimals: 1
             },
             plotOptions: {
                 pie: {
                     allowPointSelect: true,
                     cursor: 'pointer',
                     dataLabels: {
                         enabled: true,
                         color: '#000000',
                         connectorColor: '#000000',
                         formatter: function() {
                             return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                         }
                     }
                 }
             },
             series: [{
                 type: 'pie',
                 name: 'Percentage',
                 data: [
                     ['Teacher',   ${sunTeacher}],
                     ['Assitant',  ${sunAssistant}],
                     {
                         name: 'Markerter',
                         y: ${sunMarketer},
                         sliced: true,
                         selected: true
                     }
                 ]
             }]
          });
     });
</script>
<form id="pagerForm" action="@{Teachers.list}" method="post">
	<input type="hidden" value="${pageNum}" name="pageNum"> 
	<input type="hidden" value="${numPerPage}" name="numPerPage"> 
	<input type="hidden" value="${orderField}" name="orderField">
</form>
<div class="pageHeader">
	<form rel="pagerForm" onSubmit="return navTabSearch(this);"
		action="@{Teachers.list}" method="post">
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>姓名:</label> 
					<input type="text" name="name" value="${params.name}"/>
				</li>
				<li>
					<label>员工类型:</label> 
					<select class="combox required"  name="type">
						<option value="">--请选择--</option>
						#{list items:employeTypes,as:'etype'}
						<option value="${etype}" #{if etype==params.type} selected #{/if}>${etype}</option>
						#{/list}
					</select>
				</li>
				<li>
					<label>校区：</label>
					<select class="combox"  name="schoolid">
						<option value="">--请选择--</option>
						#{list items:schools,as:'school'}
						<option value="${school.id}"  #{if (school.id+"")==(params.schoolid+"") } selected #{/if} >${school.name}</option>
						#{/list}
					</select>
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive">
							<div class="buttonContent">
								<button type="submit">搜索</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li>
				<a class="add" id="ad" href="@{Teachers.blank}" target="dialog" height="650" width="850" rel="createTeacher">
					<span>添加员工</span> 
				</a>
			</li>
			<li>
				<a class="edit" id="ad" href="@{Teachers.edit("\u007Bsid_user\u007D")}" target="dialog" height="650" width="850" rel="editTeacher" title="修改教师信息">
					<span>修改信息</span> 
				</a>
			</li>
			<li>
				<a class="delete" href="@{Teachers.deletes}" target="selectedTodo" postType="string" rel="ids"
				title="确定要删除这些员工信息吗?">
				<span>删除</span>
			</a></li>
		</ul>
	</div>
	<div id="teacherlistTableDiv">
		<table id="teacherlistTable" class="table" width="100%" layouth="450">
			<thead>
				<tr>
					<th width="50"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
					<th width="150" class="asc">名字</th>
					<th width="150">员工类型</th>
					<th width="200">电话</th>
					<th width="200">电子邮箱</th>
					<th width="100"></th>
					<th width="150"></th>
				</tr>
			</thead>
			<tbody>
				 #{list items:objects, as:'teacher'}
				<tr target="sid_user"
					rel="${teacher.id}">
					<td><input name="ids" value="${teacher.id}" type="checkbox">
					</td>
					<td>${teacher.name}</td>
					<td>
						#{if teacher.employeType=="teacher"}老师#{/if}
						#{if teacher.employeType=="assistant"}助教#{/if}
						#{if teacher.employeType=="marketer"}市场#{/if}
					</td>
					<td>${teacher.teacherDetail?.tel?:''}</td>
					<td><a href="${teacher.email}">${teacher.email}</a></td>
					<td><a class="btn-mini btn btn-block btn-warning" href="@{Teachers.teacherCalender(teacher.id)}" target="navTab" rel="teacherCalender${teacher.id}" title="${teacher.name}">日历 >>></a></td>
					<td><a class="btn-mini btn btn-block btn-success" href="@{Teachers.detail(teacher.id)}" target="navTab" rel="teacherDetail${teacher.id}" title="${teacher.name}">Detail >>></a></td>
				</tr>
				#{/list} 
			</tbody>
		</table>
		<div class="panelBar">
			<div class="pages">
				<span>每页显示</span> 
				<select name="numPerPage" onchange="navTabPageBreak({'numPerPage':this.value})">
					<option value="20" #{if numPerPage==20}selected#{/if}>20</option>
					<option value="50" #{if numPerPage==50}selected#{/if}>50</option>
					<option value="100" #{if numPerPage==100}selected#{/if}>100</option>
					<option value="200" #{if numPerPage==200}selected#{/if}>200</option>
				</select> 
				<span>总计:${totalCount}</span>
			</div>

			<div currentpage="${pageNum}" pagenumshown="10"
				numperpage="${numPerPage}" totalcount="${totalCount}"
				targettype="navTab" class="pagination" />
		</div>
	</div>
	<div class="divider" id="teacherlistBar" style="cursor:row-resize;"></div>		
	<div class="tabs">
		<div class="tabsHeader">
			<div class="tabsHeaderContent">
				<ul>
					<li><a href="javascript:details(-1);"><span>Details</span> </a></li>
				</ul>
			</div>
		</div>
		<div class="tabsContent" style="height: 260px" id="teacherlistTabsDiv">
			<div id="containerDetails">
			</div>
		</div>
		<div class="tabsFooter">
			<div class="tabsFooterContent"></div>
		</div>
	</div>
</div>